body {
  background-color: #3fb991;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px; }

header {
  background-image: url(../img/cabanaS4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #39248b;
  width: 100%; }

h1 {
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #39248b; }

.navbar-nav {
  justify-content: flex-end; }

.navbar .container-fluid {
  background-color: #39248b;
  justify-content: flex-end; }

.navbar-nav .nav-link {
  color: gray; }
  .navbar-nav .nav-link:hover {
    text-decoration: underline; }
  .navbar-nav .nav-link .nav-link.active {
    color: #f2e5e5; }

.navbar-toggler:focus {
  box-shadow: none; }

footer {
  background-color: #39248b; }

.wrapper {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  text-decoration: none;
  list-style: none; }
  .wrapper ul {
    list-style: none; }
  .wrapper li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    float: left;
    transition: all 0.5 ease; }
  .wrapper a {
    text-decoration: none; }
  .wrapper .fa {
    color: #f5f5f5;
    margin-top: 20px;
    transition: all 0.5 ease; }
  .wrapper .arriba:hover {
    transform: scale(1.1);
    background-color: whitesmoke; }
  .wrapper .facebook:hover {
    transform: scale(1.1);
    background-color: #2b9be6; }
  .wrapper .whatsapp:hover {
    transform: scale(1.1);
    background-color: #197d16; }
  .wrapper .instagram:hover {
    transform: scale(1.1);
    background-color: #af3354; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

.parrafo1 {
  font-weight: bold; }

.parrafo2 {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 15px;
  text-align: center;
  margin-left: 75px;
  background-image: url(../img/fondop2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #eff2f7;
  border: 15px;
  border-radius: 15px;
  width: 800px;
  display: flex;
  justify-content: center;
  grid-area: main; }

h1 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none; }

h1 {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.h2 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none; }

.h2 {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h3 {
  text-align: center;
  font-size: 1.5rem; }

.subtitle {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none; }

.mapa {
  margin-bottom: 15px;
  padding-left: 15px;
  border-style: solid; }

.ubi {
  padding-left: 15px;
  text-decoration: none;
  padding: 30px; }

.sidebar {
  background-image: url(../img/M.E4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 15px;
  text-align: center;
  margin: 15px;
  color: #f3f1ed;
  border-radius: 5px;
  grid-area: sidebar; }

.sinsub {
  text-decoration: none;
  color: #f3f1ed; }

.sidebar:hover {
  transform: translate(20px, 30px); }

.galeria1 {
  margin: 10px;
  margin-left: 50px;
  padding: 15px;
  width: 1000px; }

.galeria2 {
  margin: 20px;
  margin-left: 50px;
  padding: 15px;
  width: 1000px; }

.menupag2 {
  text-decoration: none;
  text-align: left;
  margin: 10px;
  padding: 10px;
  color: white; }

.grid-container {
  display: grid;
  grid-template-areas: "header header" "main sidebar" "galeria1 galeria1" "galeria2 galeria2" "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 5px 5px;
  grid-auto-flow: row; }

img {
  width: 400px;
  height: 500px;
  border: antiquewhite solid; }

.carousel-container {
  width: 600px;
  align-content: center; }

.container-img {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-auto-flow: dense; }

.box-img {
  width: 100%;
  height: 100%; }

.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.box-img:nth-child(1) {
  grid-column-start: span 2; }

.box-img:nth-child(4) {
  grid-row-start: span 2; }

.box-img:nth-child(11) {
  grid-column-start: span 2; }

.formularioMio {
  margin: 15px;
  padding: 15px;
  width: 700px;
  border-radius: 5px; }

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center; }

.comentarios .caja-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.comentarios .caja-contenedor .caja {
  background: #f2e5e5;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid #eff2f7;
  box-shadow: 0.5rem 1rem black;
  display: flex;
  justify-content: center;
  flex: 1 1 40rem; }
  .comentarios .caja-contenedor .caja .fa-user {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: blue;
    opacity: .3rem; }
  .comentarios .caja-contenedor .caja .user img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-top: 3rem; }
  .comentarios .caja-contenedor .caja .h3 {
    font-size: 2rem; }
  .comentarios .caja-contenedor .caja .stars i {
    font-size: 1.5rem;
    padding: 1rem 0; }
  .comentarios .caja-contenedor .caja .comentarios {
    font-size: 2rem;
    padding: 1rem; }

.nosotros-page .header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }

.nosotros-page .video {
  width: 100%; }

.nosotros-page .absolute {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.nosotros-page h1 {
  font-size: 80px;
  font-weight: 900;
  z-index: 100;
  color: #9edff7;
  margin-bottom: 30px; }
  .nosotros-page h1::after {
    display: block;
    width: 30px;
    height: 10px;
    content: "";
    margin: auto;
    color: aliceblue;
    text-shadow: #000000;
    box-shadow: .5rem; }

@media screen and (max-width: 780px) {
  .grid-container {
    grid-template-areas: "header" "main" "sidebar" "galeria1" "galeria2" "footer";
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr; } }

@media screen and (max-width: 480px) {
  main .nosotros {
    font-size: 1.2rem; } }
