header{ 
    background-repeat: no-repeat;
    background-size: cover;
    color: $colortexto;
 }
 h1{
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 2rem;
    color: $colortexto; }