header{ 
   background-image: url(../img/cabanaS4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $colortexto;
    width: 100%;
 }
 h1{
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: $colortexto; }

.navbar-nav{
   justify-content: flex-end;
}
.navbar .container-fluid {
   background-color: $colortexto;
   justify-content: flex-end;
}

.navbar-nav .nav-link {
   color: $colornavbar;
   &:hover{
      text-decoration: underline;
   }
   .nav-link.active {
      color:$colorcaja;
   }
}
.navbar-toggler:focus {
   box-shadow: none;
}
